html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;  
}

.content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #f2f2f2;
    box-shadow: 5px 5px 5px 5px #9b9b9b;
    border-radius: 5px;
    height: 200px;
    width: 300px;
}

.error {
    color: red;
}

.hide {
    display: none;
} 

.button {
    margin: 5px;
}
